
// transition
.fade-enter-active, .fade-leave-active 
	transition: all .5s

.fade-enter, .fade-leave-active 
	opacity: 0

.fade-enter-active
	position absolute !important
	top 0


.menu-transition-enter-active, .menu-transition-leave-active 
	transition: all .5s

.menu-transition-enter, .menu-transition-leave-active 
	opacity: 0
	transform: translateX(100%) translateZ(0)


// .slide
.slide-enter-active, .slide-leave-active 
	transition: all .5s
.slide-enter
	transform: translateX(100%)
.slide-leave-active
	transform: translateX(-100%)
.slide-enter-active
	position absolute !important
	top 0
