transition( property = all , time = 0.35s)
    transition: property time cubic-bezier(0.215, 0.61, 0.355, 1)    

imgScale( imgUrl , width , height, scale =0.5  ){
    width = unit(width , px)
    height = unit(height , px)

	width: round( width * scale)
	height: round( height * scale)
	background-size: 100% auto;
	background-repeat: no-repeat;
    background-image:url(imgUrl);
}

shim($w, $h) {
    &:before 
        content ''
        display block
        width: 100%
        padding-top unit($h / $w * 100,'%')    
}

$abs_center
    position: absolute
    top 0
    right 0
    bottom 0
    left 0
    margin: auto
$flex_center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width 100%
    height 100%

$valign
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    top: 0;
    left: 0;
    &:before
        content: ""
        width: 0
        height: 100%
        display: inline-block
        vertical-align: middle
    .content
        display: inline-block
        vertical-align: middle		
media(width = 640)
    width = unit(width , px)
    @media only screen and (max-width: width)
        {block}
//12345



/*media640{
	@media only screen and (max-width: 640px) {
		@content;
	}
}
*/