{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "node": "current",
        "browsers": [
          "> 5%",
          "last 2 versions", 
          "ie >= 10"
        ]
      }
    }],
    "stage-0",
    "flow"
  ],
  "plugins": [
    ["transform-runtime",{
      "helpers": false,
      "polyfill": false,
      "regenerator": false
    }]
  ]
}
