.DS_Store
.sass-cache
_doc
doc
dist
src/asset/img
yarn.lock
node_modules
bower_components
config.rb
*.zip
*.psd
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.sublime-project
*.sublime-workspace
*.settings
*.cfg
*.log

