.FB_1200x628 {    
    background-position: 0px 0px;
    width: 1200px;
    height: 628px;  }
.result_fb_share_btn {    
    background-position: 0px -632px;
    width: 360px;
    height: 57px;    }
    html.desktop .result_fb_share_btn:hover {   
        background-position:0px -689px;  }
.right_arrow_btn {    
    background-position: -364px -632px;
    width: 32px;
    height: 51px;    }
    html.desktop .right_arrow_btn:hover {   
        background-position:-364px -683px;  }
